.top-buffer {
    margin-top:20px;
}

.text-centred {
    text-align: center;
}

.hidden {
    display: none;
}


ul.navbar-nav li a {
    cursor: hand;
}

.koef {
    cursor: hand;
}


.selected {
    background-color: green;
}

.nonselected {
    background-color: inherit;
}


